[submodule "docs/s26/courses/itd210/projects/game/Game-Project"]
	path = docs/s26/courses/itd210/projects/game/Game-Project
	url = https://github.com/Greetingsplayer1/Game-Project
[submodule "docs/s26/courses/itd210/projects/game/Football_game"]
	path = docs/s26/courses/itd210/projects/game/Football_game
	url = https://codeberg.org/GHC_Students/Football_game
[submodule "docs/s26/courses/itd210/projects/game/Island_Battle"]
	path = docs/s26/courses/itd210/projects/game/Island_Battle
	url = https://codeberg.org/GHC_Students/Island_Battle
[submodule "docs/s26/courses/itd210/projects/game/Sir-Kittywhiskerkins-The-Wizard-Cat"]
	path = docs/s26/courses/itd210/projects/game/Sir-Kittywhiskerkins-The-Wizard-Cat
	url = https://codeberg.org/GHC_Students/Sir-Kittywhiskerkins-The-Wizard-Cat
[submodule "docs/s26/courses/itd210/projects/game/Armour-Game"]
	path = docs/s26/courses/itd210/projects/game/Armour-Game
	url = https://codeberg.org/GHC_Students/Armour-Game
[submodule "docs/s26/courses/itd210/projects/game/mahnamejoks"]
	path = docs/s26/courses/itd210/projects/game/mahnamejoks
	url = https://codeberg.org/GHC_Students/mahnamejoks
[submodule "docs/s26/courses/itd210/projects/game/Snack-Rat"]
	path = docs/s26/courses/itd210/projects/game/Snack-Rat
	url = https://codeberg.org/GHC_Students/Snack-Rat
[submodule "docs/s26/courses/itd210/projects/game/OceanGame"]
	path = docs/s26/courses/itd210/projects/game/OceanGame
	url = https://codeberg.org/GHC_Students/OceanGame
[submodule "docs/s26/courses/itd210/projects/game/Home_Commute"]
	path = docs/s26/courses/itd210/projects/game/Home_Commute
	url = https://codeberg.org/GHC_Students/Home_Commute
[submodule "docs/s26/courses/itd210/projects/game/Java_script_game"]
	path = docs/s26/courses/itd210/projects/game/Java_script_game
	url = https://codeberg.org/GHC_Students/Java_script_game
[submodule "docs/s26/courses/itd210/projects/game/Orange_Slinger"]
	path = docs/s26/courses/itd210/projects/game/Orange_Slinger
	url = https://codeberg.org/GHC_Students/Orange_Slinger
[submodule "docs/s26/courses/itd210/projects/game/skyfall"]
	path = docs/s26/courses/itd210/projects/game/skyfall
	url = https://codeberg.org/GHC_Students/skyfall
[submodule "docs/s26/courses/itd210/projects/game/Bach_to_Basics"]
	path = docs/s26/courses/itd210/projects/game/Bach_to_Basics
	url = https://codeberg.org/GHC_Students/Bach_to_Basics
[submodule "docs/s26/courses/itd210/projects/game/game2"]
	path = docs/s26/courses/itd210/projects/game/game2
	url = https://codeberg.org/GHC_Students/game2
[submodule "docs/s26/courses/itd210/projects/game/Game_Project"]
	path = docs/s26/courses/itd210/projects/game/Game_Project
	url = https://codeberg.org/GHC_Students/Game_Project
[submodule "docs/s26/courses/itd210/projects/game/game-project-ish"]
	path = docs/s26/courses/itd210/projects/game/game-project-ish
	url = ssh://git@codeberg.org/GHC_Students/game-project-ish.git
